@charset "utf-8";

@font-face {
    font-family: "Sahel";
    src: url(./fonts/Sahel.ttf) format('ttf'),
        url(./fonts/Sahel.woff) format('woff'),
        url(./fonts/Sahel.woff2) format('woff2'),
        url(./fonts/Sahel.eot) format('eot');
}

body{
    /* background-image: url(https://source.unsplash.com/random); */
    background-attachment: fixed;
    direction: rtl;
    background-size: cover;
    overflow: hidden;
}

#root{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    /* background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px)  */
}
#mainContainer{
    padding : 0
}
@media (min-width: 600px){
    #mainContainer{
        padding: 1.5rem;
    }
}